body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color:  #ededed;
    color: #333;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

.calculator {
    background-color: rgb(159, 157, 157);
    padding: 30px;
}

.buttons-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons-grid > button {
    font-size: 20px;
    padding: 20px 30px;
}

.display{
    height: 150px;
}

.grid-span-2{
    grid-column: span 2;
}