@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color:  #ededed;
    color: #333;
}

* {
    border-radius: 10px;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

.calculator {
    background-color: #dbd7d8;
    padding: 30px;
    border: 2px solid #333;
}

.buttons-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 20px;
    padding: 20px 30px;
    background-color: #65675e;
    color: white;
    font-family: inherit;

}

.clear-button {
    background-color: #4a7cb7;
}

.delete-button {
    background-color: #c35d91;
}

.screen{
    height: 70px;
    background-color: rgb(186, 216, 226);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 32px;
    text-align: right;
    border: 1px solid #333;
}

.screen-top{
    font-size: 24px;
    min-height: 30px;
}

.grid-span-2{
    grid-column: span 2;
}