body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color:  #ededed;
    color: #333;
}

* {
    border-radius: 10px;
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

.calculator {
    background-color: rgb(159, 157, 157);
    padding: 30px;
}

.buttons-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons-grid > button {
    font-size: 20px;
    padding: 20px 30px;
}

.clear-button {
    background-color: rgb(255, 150, 168);
}

.screen{
    height: 100px;
    background-color: lightblue;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 32px;
    direction: rtl;
}

.screen-top{
    font-size: 24px;
    min-height: 30px;
}

.grid-span-2{
    grid-column: span 2;
}